<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.opsli.modulars.creater.table.mapper.TableMapper">


    <select id="uniqueVerificationByTableName" resultType="Integer">
        select
            count(0)
        from
        creater_table a
        <where>
            a.table_name = #{tableName}
            <if test="id != null and id != ''">
                and a.id != #{id}
            </if>
        </where>
    </select>

    <select id="findAllByTableName" resultType="String">
        select
         table_name AS tableName
        from
        creater_table
    </select>

    <update id="renewSyncState">
        update creater_table
        set iz_sync = '1'
        where
        id = #{id}
    </update>

</mapper>
