<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.opsli.modulars.system.area.mapper.SysAreaMapper">


    <select id="hasChildren" parameterType="SysArea" resultType="org.opsli.core.base.entity.HasChildren">
        select
            parent_id as parentId,
            count(0) as `count`
        from
        sys_area
        ${ew.customSqlSegment}
    </select>


</mapper>
