<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.opsli.modulars.system.user.mapper.UserMapper">

    <!-- 数据库字段 -->
    <sql id="columns">
		a.id as id,

		a.username as username,
        a.password as password,
        a.password_level as passwordLevel,
        a.no as no,
        a.real_name as realName,
        a.enable as enable,
        a.mobile as mobile,
        a.email as email,
        a.avatar as avatar,
        a.login_ip as loginIp,
        a.remark as remark,
        a.tenant_id as tenantId,
        a.enable_switch_tenant as enableSwitchTenant,

        a.create_by as createBy,
        a.create_time as createTime,
        a.update_by as updateBy,
        a.update_time as updateTime,
        a.version as version,
        a.deleted as deleted
	</sql>

    <sql id="joinsColumns">
        GROUP_CONCAT(DISTINCT r.role_name) as roleNames,
	</sql>

    <sql id="joins">
        left join sys_user_org_ref b on b.user_id = a.id
        left join sys_user_role_ref c on c.user_id = a.id
        left join sys_role r on r.id = c.role_id
	</sql>

    <select id="findList" parameterType="SysUser" resultType="SysUserWeb">
        select
            <include refid="joinsColumns"></include>
            <include refid="columns"></include>
        from
        sys_user a
        <include refid="joins"></include>
        ${ew.customSqlSegment}
    </select>

    <update id="updatePassword" parameterType="org.opsli.api.wrapper.system.user.UserPassword">
        update sys_user
        set
            password = #{newPassword},
            password_level = #{passwordLevel}
        where id = #{userId}
    </update>

    <update id="updateLoginIp" parameterType="SysUser">
        update sys_user
        set
            login_ip = #{loginIp}
        where id = #{id}
    </update>

    <update id="updateAvatar" parameterType="SysUser">
        update sys_user
        set
            avatar = #{avatar}
        where id = #{id}
    </update>

</mapper>
