<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.opsli.modulars.system.user.mapper.UserRoleRefMapper">

    <select id="queryAllPerms" resultType="String">
        select
            a.permissions
        from
        sys_menu a,
        sys_role_menu_ref b,
        sys_user_role_ref c
        where
            a.id = b.menu_id
            and a.hidden = '0'
            and a.deleted = '0'
            and b.role_id = c.role_id
            <!-- 2 表示按钮 -->
            and a.type = '2'
            and c.user_id = #{userId}
            <!-- 0:系统模块 1:功能模块 -->
            and a.label like CONCAT('%',#{label}, '%')
        group by a.id
    </select>

    <select id="getRoleIdList"  resultType="String">
        select
            a.role_id
        from
            sys_user_role_ref a
        where
            a.user_id = #{userId}
    </select>

    <select id="getRoleCodeList"  resultType="String">
        select
            b.role_code
        from
            sys_user_role_ref a,
            sys_role b
        where
            a.role_id = b.id
          and a.user_id = #{userId}
    </select>

    <!--  根据用户id查询菜单列表-->
    <select id="findMenuListByUserId" resultType="SysMenu">
        select
            c.id,
            c.parent_Id,
            c.permissions,
            c.menu_name,
            c.redirect,
            c.type,
            c.icon,
            c.url,
            c.component,
            c.always_show,
            c.sort_no
        from
        sys_user_role_ref a,
        sys_role_menu_ref b,
        sys_menu c
        where
        a.role_Id = b.role_Id
        and b.menu_id = c.id
        and c.parent_id != -1
        and a.user_id = #{userId}
        <!-- 1 表示内部链接 3 表示外部链接 -->
        and c.type in ( '1', '3' )
        and c.deleted = '0'
        and c.hidden = '0'
        <!-- 0:系统模块 1:功能模块 -->
        and c.label like CONCAT('%',#{label}, '%')
        group by c.id
    </select>

    <!--  根据用户id查询菜单列表-->
    <select id="findMenuAllListByUserId" resultType="SysMenu">
        select
            c.id,
            c.parent_Id,
            c.permissions,
            c.menu_name,
            c.redirect,
            c.type,
            c.icon,
            c.url,
            c.component,
            c.always_show,
            c.sort_no
        from
            sys_user_role_ref a,
            sys_role_menu_ref b,
            sys_menu c
        where
          a.role_Id = b.role_Id
          and b.menu_id = c.id
          and c.parent_id != -1
          and a.user_id = #{userId}
          and c.deleted = '0'
          and c.hidden = '0'
          <!-- 0:系统模块 1:功能模块 -->
          and c.label like CONCAT('%',#{label}, '%')
        group by c.id
    </select>

    <select id="getUserIdList"  resultType="String">
        select
            a.user_id
        from sys_user_role_ref a
        join sys_user b on a.user_id = b.id
        join sys_role c on a.role_id = c.id
        ${ew.customSqlSegment}
    </select>

    <select id="getUserIdListByMenu"  resultType="String">
        select
            b.user_id
        from
        sys_role_menu_ref a
        join sys_user_role_ref b on b.role_id = a.role_id
        join sys_menu menu on menu.id = a.menu_id
        ${ew.customSqlSegment}
    </select>

    <select id="getUserIdListByMenuId"  resultType="String">
        select
            b.user_id
        from
        sys_role_menu_ref a
        join sys_user_role_ref b on b.role_id = a.role_id
        join sys_menu menu on menu.id = a.menu_id
        <where>
            menu.deleted = 0
            and menu.parent_id != -1
            and a.menu_id = #{menuId}
        </where>
    </select>


</mapper>
